<div class="container-fluid" style="height: 100%">
    <div style="height: 15%"></div>
    <div class="row" style="height: 100%">
        <div class="col-md-8 col-md-offset-2" style="height: 55%">
            <div class="jumbotron" style="height: 100%">
                <div class="text-center">
                    <h1>Giełda wymian studenckich</h1>
                    <br/>
                    <p>Zapraszamy do rejestracji!</p>
                </div>
                <br/>
                <br/>
                <div class="text-center">
                    <p>
                        <span><a href="/#!/register"  class="btn btn-primary btn-lg" role="button" style="width: 200px">Utwórz konto</a></span>
                        <span><a href="/#!/login" class="btn btn-primary btn-lg" role="button" style="width: 200px">Zaloguj</a></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>